+component(alert)
  position: relative
  width: 100%
  padding: 20px
  color: darken($color-black, 10%)
  background-color: lighten($color-yellow, 14%)
  vertical-align: middle
  border-radius: 5px

  @include option(with-icon)
    padding-left: 50px
    i
      position: absolute
      color: darken($color-black, 10%)
      left: 20px
      top: 22px

