@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,300italic,300,700,700italic");
.container {
  max-width: 960px;
  margin: 0 auto; }
  @media only screen and (max-width: 768px) {
    .container {
      width: 95%; } }

.container-fluid {
  width: 95%;
  margin: 0 auto; }

#csstyle .\+center {
  text-align: center; }

#csstyle .\+left {
  text-align: left; }

#csstyle .\+right {
  text-align: right; }

#csstyle .\+justify {
  text-align: justify; }

#csstyle .\+uppercase {
  text-transform: uppercase; }

#csstyle .\+capitalize {
  text-transform: capitalize; }

#csstyle .\+spacer {
  margin-top: 2em; }

#csstyle .\+spacer-small {
  margin-top: 1em; }

#csstyle .\+spacer-medium {
  margin-top: 3em; }

#csstyle .\+spacer-large {
  margin-top: 10em; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  color: #717171;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 13px; }

body.page-error {
  background-color: #FDEBE9; }

body.page-admin {
  background-color: #F3F5F9; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 24px;
  font-style: italic; }

h4 {
  font-size: 18px; }

p {
  padding: 0;
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover, a:focus {
    color: inherit;
    text-decoration: none; }

#wrapper {
  padding-left: 0; }

#sidebar-wrapper {
  background-color: #4C5566;
  position: fixed;
  width: 8%;
  height: 100%;
  float: left; }
  @media only screen and (max-width: 768px) {
    #sidebar-wrapper {
      display: none; } }

#page-wrapper {
  width: 92%;
  float: right; }
  @media only screen and (max-width: 768px) {
    #page-wrapper {
      width: 100%;
      float: none; } }

.sidebar__header {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #a7afbd;
  background-color: #3D4452;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  display: block;
  -webkit-transition: color 0.3s ease-in-out 0s;
  -moz-transition: color 0.3s ease-in-out 0s;
  -ms-transition: color 0.3s ease-in-out 0s;
  -o-transition: color 0.3s ease-in-out 0s;
  transition: color 0.3s ease-in-out 0s; }
  .sidebar__header i {
    display: block;
    font-size: 30px; }
  .sidebar__header:hover, .sidebar__header:focus {
    color: white; }
.sidebar__item {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  display: block;
  padding-bottom: 1em;
  padding-top: 1em;
  color: #a7afbd;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: color 0.3s ease-in-out 0s;
  -moz-transition: color 0.3s ease-in-out 0s;
  -ms-transition: color 0.3s ease-in-out 0s;
  -o-transition: color 0.3s ease-in-out 0s;
  transition: color 0.3s ease-in-out 0s; }
  .sidebar__item i {
    display: block;
    font-size: 19px;
    padding-bottom: 0.3em; }
  .sidebar__item span {
    font-size: 13px;
    display: block; }
  .sidebar__item:hover, .sidebar__item:active, .sidebar__item:focus {
    color: white;
    background-color: #464F5E; }

.panel {
  background-color: #fff;
  border: 1px solid #ebeff6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
  .panel__divider {
    border-bottom: 1px dotted #ebeff6; }
  .panel__container {
    padding: 20px 20px; }

.form__entry label {
  color: #747474;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 5px; }
.form__entry input, .form__entry textarea {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #D8DDE5;
  outline: 0;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.button {
  border: 0;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 6px 12px;
  font-size: 14px;
  color: white;
  background-color: #b2c6cd;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  outline: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s; }
  .button:hover, .button:focus, .button:active {
    color: #fff;
    background-color: #5e696d; }
  .button.\--danger {
    background-color: #f84545;
    color: #fff; }
    .button.\--danger:hover, .button.\--danger:focus, .button.\--danger:active {
      color: #fff;
      background-color: #cc0000; }
    .button.\--danger.\--active {
      background-color: #cc0000; }
  .button.\--primary {
    background-color: #02baf2;
    color: #fff; }
    .button.\--primary:hover, .button.\--primary:focus, .button.\--primary:active {
      color: #fff;
      background-color: #009dcd; }
    .button.\--primary.\--active {
      background-color: #009dcd; }
  .button.\--large {
    padding: 10px 16px;
    font-size: 18px; }
  .button.\--active {
    background-color: #5e696d; }
  .button.\--block {
    width: 100%; }
  .button.\--link {
    padding: 0;
    color: #364347;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    background: none;
    text-transform: none;
    margin: 0;
    min-width: 0; }

.alert {
  padding: 10px 15px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #02baf2;
  color: white; }
  .alert.\--danger {
    background-color: #f84545;
    color: white; }
  .alert.\--success {
    background-color: #3eb5ac;
    color: white; }

.header {
  background-color: white;
  height: 4em;
  line-height: 4em;
  padding-left: 2em;
  border: 1px solid #E0E4E8; }

.picture.\--circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -khtml-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  background-size: cover; }
.picture.\--circle-big {
  display: inline-block;
  width: 150px;
  height: 150px;
  -webkit-border-radius: 75px;
  -khtml-border-radius: 75px;
  -moz-border-radius: 75px;
  -ms-border-radius: 75px;
  -o-border-radius: 75px;
  border-radius: 75px;
  background-size: cover; }

.pagination {
  list-style: none;
  padding: 0;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #ccf1fc;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: white; }
  .pagination li:first-child {
    border-left: 0; }
  .pagination li:hover {
    background-color: #ccf1fc; }
  .pagination li {
    float: left;
    padding: 0;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-left: 1px solid #ccf1fc;
    color: #009dcd; }
    .pagination li.active {
      background-color: #009dcd;
      color: white; }
  .pagination span, .pagination a {
    width: 100%;
    height: 100%;
    font-size: 17px;
    display: inline-block; }

.tooltipster-default {
  border-radius: 5px;
  border: 2px solid #364347;
  background: #364347;
  color: #fff; }
  .tooltipster-default .tooltipster-content {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
    overflow: hidden; }

.chosen-container {
  width: 100% !important;
  margin-top: 10px; }
  .chosen-container:focus {
    outline: 0; }
  .chosen-container .chosen-single {
    border: 2px solid #FDEBE9 !important;
    background: transparent !important;
    color: #CB5065;
    outline: 0 !important;
    font-size: 15px !important;
    height: auto !important;
    padding: 10px 15px !important;
    box-shadow: none !important; }
    .chosen-container .chosen-single b {
      margin-top: 0.7em !important; }
  .chosen-container .chosen-results {
    color: #CB5065 !important; }
  .chosen-container .chosen-drop {
    border: 2px solid #FDEBE9 !important;
    box-shadow: none; }
  .chosen-container li.highlighted {
    background: #CB5065 !important; }

.js-input-file {
  width: 0.1px !important;
  height: 0.1px !important;
  opacity: 0 !important;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.inputfile + label * {
  pointer-events: none; }

.js-input-file + label {
  display: inline-block;
  cursor: pointer;
  border: 3px solid #FDEBE9;
  color: #F193A3;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
  width: 100%;
  font-size: 28px;
  vertical-align: middle;
  font-family: "Lato", sans-serif;
  font-weight: 300; }
  .js-input-file + label i {
    font-size: 55px;
    display: block;
    vertical-align: middle; }
  .js-input-file + label img {
    display: block !important;
    margin-right: auto;
    margin-top: 0 !important;
    margin-left: auto; }


/*# sourceMappingURL=admin.css.map*/