@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:100,400,400italic,300italic,300,700,700italic");
/* line 10, /Library/WebServer/Documents/workflow/gesjeremie.io/front/styles/utils/_grid.sass */
.container {
  max-width: 960px;
  margin: 0 auto; }
  @media only screen and (max-width: 768px) {
    /* line 10, /Library/WebServer/Documents/workflow/gesjeremie.io/front/styles/utils/_grid.sass */
    .container {
      width: 95%; } }

/* line 18, /Library/WebServer/Documents/workflow/gesjeremie.io/front/styles/utils/_grid.sass */
.container-fluid {
  width: 95%;
  margin: 0 auto; }

/* line 85, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
#csstyle .\+center {
  text-align: center; }

/* line 85, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
#csstyle .\+left {
  text-align: left; }

/* line 85, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
#csstyle .\+right {
  text-align: right; }

/* line 85, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
#csstyle .\+justify {
  text-align: justify; }

/* line 85, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
#csstyle .\+uppercase {
  text-transform: uppercase; }

/* line 85, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
#csstyle .\+capitalize {
  text-transform: capitalize; }

/* line 85, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
#csstyle .\+spacer {
  margin-top: 2em; }

/* line 85, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
#csstyle .\+spacer-small {
  margin-top: 1em; }

/* line 85, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
#csstyle .\+spacer-medium {
  margin-top: 3em; }

/* line 85, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
#csstyle .\+spacer-large {
  margin-top: 10em; }

/* line 9, /Library/WebServer/Documents/workflow/gesjeremie.io/front/styles/app/_typography.sass */
html {
  box-sizing: border-box; }

/* line 12, /Library/WebServer/Documents/workflow/gesjeremie.io/front/styles/app/_typography.sass */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 20, /Library/WebServer/Documents/workflow/gesjeremie.io/front/styles/app/_typography.sass */
body {
  color: #93a4aa;
  font-family: 'Lato', sans-serif;
  font-weight: 400; }

/* line 24, /Library/WebServer/Documents/workflow/gesjeremie.io/front/styles/app/_typography.sass */
body.page-error {
  background-color: #FDEBE9; }

/* line 28, /Library/WebServer/Documents/workflow/gesjeremie.io/front/styles/app/_typography.sass */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

/* line 32, /Library/WebServer/Documents/workflow/gesjeremie.io/front/styles/app/_typography.sass */
h1 {
  font-size: 48px; }

/* line 35, /Library/WebServer/Documents/workflow/gesjeremie.io/front/styles/app/_typography.sass */
h2 {
  font-size: 36px; }

/* line 38, /Library/WebServer/Documents/workflow/gesjeremie.io/front/styles/app/_typography.sass */
h3 {
  font-size: 24px;
  font-style: italic; }

/* line 42, /Library/WebServer/Documents/workflow/gesjeremie.io/front/styles/app/_typography.sass */
h4 {
  font-size: 18px; }

/* line 47, /Library/WebServer/Documents/workflow/gesjeremie.io/front/styles/app/_typography.sass */
p {
  font-size: 18px;
  line-height: 1.8em;
  font-weight: 300;
  text-align: justify; }

/* line 54, /Library/WebServer/Documents/workflow/gesjeremie.io/front/styles/app/_typography.sass */
a {
  color: inherit;
  text-decoration: none; }
  /* line 58, /Library/WebServer/Documents/workflow/gesjeremie.io/front/styles/app/_typography.sass */
  a:hover, a:focus {
    color: inherit;
    text-decoration: none; }

/* line 62, /Library/WebServer/Documents/workflow/gesjeremie.io/front/styles/app/_typography.sass */
br {
  content: " ";
  height: 12px;
  display: block; }

/* line 67, /Library/WebServer/Documents/workflow/gesjeremie.io/front/styles/app/_typography.sass */
code {
  background-color: #fef6e1;
  padding: 5px;
  font-size: 14px;
  color: #364347; }

/* line 1, /Library/WebServer/Documents/workflow/gesjeremie.io/front/styles/app/_wrapper.sass */
#wrapper {
  padding-left: 0; }

/* line 4, /Library/WebServer/Documents/workflow/gesjeremie.io/front/styles/app/_wrapper.sass */
#sidebar-wrapper {
  background-color: #FDEBE9;
  position: fixed;
  width: 30%;
  height: 100%;
  float: left; }
  @media only screen and (max-width: 768px) {
    /* line 4, /Library/WebServer/Documents/workflow/gesjeremie.io/front/styles/app/_wrapper.sass */
    #sidebar-wrapper {
      display: none; } }

/* line 14, /Library/WebServer/Documents/workflow/gesjeremie.io/front/styles/app/_wrapper.sass */
#page-wrapper {
  width: 70%;
  float: right; }
  @media only screen and (max-width: 768px) {
    /* line 14, /Library/WebServer/Documents/workflow/gesjeremie.io/front/styles/app/_wrapper.sass */
    #page-wrapper {
      width: 100%;
      float: none; } }

/* line 32, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
.header {
  width: 100%;
  background-image: url("/images/forest.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  position: relative;
  padding-bottom: 5em; }
  /* line 12, /Library/WebServer/Documents/workflow/gesjeremie.io/front/styles/app/components/_header.sass */
  .header__overlay:after {
    background: #364347;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    filter: alpha(opacity=40);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    -webkit-opacity: 0.4;
    -khtml-opacity: 0.4;
    -moz-opacity: 0.4;
    -ms-opacity: 0.4;
    -o-opacity: 0.4;
    opacity: 0.4;
    content: " "; }
  /* line 76, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
  .header__title {
    position: relative;
    text-align: center;
    color: white;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    padding-top: 4.2em; }
  /* line 76, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
  .header__punchline {
    position: relative;
    text-align: center;
    color: white;
    font-size: 2em;
    padding-bottom: 2em;
    font-family: 'Lato', sans-serif;
    font-weight: 100; }
    /* line 40, /Library/WebServer/Documents/workflow/gesjeremie.io/front/styles/app/components/_header.sass */
    .header__punchline strong {
      text-transform: capitalize;
      color: #f3bc65; }
  /* line 76, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
  .header__button {
    border: 2px solid white;
    background: transparent;
    color: white;
    text-transform: capitalize;
    padding: 18px 24px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: ease 0.4s;
    -moz-transition: ease 0.4s;
    -ms-transition: ease 0.4s;
    -o-transition: ease 0.4s;
    transition: ease 0.4s; }
    /* line 58, /Library/WebServer/Documents/workflow/gesjeremie.io/front/styles/app/components/_header.sass */
    .header__button:active, .header__button:hover, .header__button:focus {
      color: #f3bc65;
      border-color: #f3bc65; }

/* line 32, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
.section {
  padding-top: 4em;
  padding-bottom: 6em; }
  /* line 40, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
  .section.\--grey {
    background-color: #FAF9FA; }
  /* line 76, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
  .section__title {
    color: #364347;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 1.6em; }
  /* line 76, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
  .section__content {
    font-size: 18px;
    font-weight: 300; }
    /* line 40, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
    .section__content.\--experiences {
      border-left: 2px solid #FAF9FA;
      padding-left: 25px;
      text-align: justify; }
      @media only screen and (max-width: 768px) {
        /* line 40, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
        .section__content.\--experiences {
          padding-left: 0;
          border: 0; } }
  /* line 76, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
  .section__company {
    color: #364347;
    font-style: normal;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; }
    @media only screen and (max-width: 768px) {
      /* line 76, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
      .section__company {
        text-align: center; } }
  /* line 76, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
  .section__role {
    font-style: normal;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 0.2em; }
    @media only screen and (max-width: 768px) {
      /* line 76, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
      .section__role {
        text-align: center; } }
  /* line 76, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
  .section__date {
    font-size: 17px;
    font-style: normal;
    color: #f3bc65;
    margin-top: 1em;
    margin-bottom: 2em; }
    @media only screen and (max-width: 768px) {
      /* line 76, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
      .section__date {
        text-align: center; } }

/* line 40, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
.picture.\--avatar {
  width: 200px;
  height: 200px;
  -webkit-border-radius: 100px;
  -khtml-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  background-size: cover;
  margin-top: 2.5em;
  margin-right: auto;
  margin-left: auto; }

/* line 32, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
.alert {
  position: relative;
  width: 100%;
  padding: 20px;
  color: #364347;
  background-color: #fef6e1;
  vertical-align: middle;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 300; }
  /* line 40, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
  .alert.\--with-icon {
    padding-left: 50px; }
    /* line 14, /Library/WebServer/Documents/workflow/gesjeremie.io/front/styles/app/components/_alert.sass */
    .alert.\--with-icon i {
      position: absolute;
      color: #364347;
      left: 20px;
      top: 22px; }

/* line 32, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
.list {
  display: block;
  background-color: white;
  padding: 20px;
  list-style: none;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  /* line 8, /Library/WebServer/Documents/workflow/gesjeremie.io/front/styles/app/components/_list.sass */
  .list li {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 300; }
  /* line 13, /Library/WebServer/Documents/workflow/gesjeremie.io/front/styles/app/components/_list.sass */
  .list li:nth-child(2) {
    padding-top: 20px; }
  /* line 76, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
  .list__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #364347;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E6E6E6; }

/* line 32, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
.button {
  padding: 18px 24px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  text-transform: capitalize;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-bottom: 5px solid #27ae60;
  box-shadow: inset 0 0 0 0 #2ecc71;
  background-color: #2ecc71;
  -webkit-transition: box-shadow ease 0.5s;
  -moz-transition: box-shadow ease 0.5s;
  -ms-transition: box-shadow ease 0.5s;
  -o-transition: box-shadow ease 0.5s;
  transition: box-shadow ease 0.5s; }
  /* line 17, /Library/WebServer/Documents/workflow/gesjeremie.io/front/styles/app/components/_button.sass */
  .button:active, .button:hover, .button:focus {
    color: #fff;
    text-decoration: none;
    box-shadow: inset 0 -100px 0 0 #27ae60; }
  /* line 40, /Library/WebServer/Documents/workflow/gesjeremie.io/front/node_modules/csstyle/csstyle.scss */
  .button.\--link {
    background: none;
    border: 0;
    box-shadow: none;
    padding: 0;
    color: #93a4aa;
    text-transform: none;
    border-bottom: 1px dotted #b2c6cd;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    padding-bottom: 5px;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    cursor: pointer; }
    /* line 35, /Library/WebServer/Documents/workflow/gesjeremie.io/front/styles/app/components/_button.sass */
    .button.\--link:active, .button.\--link:hover, .button.\--link:focus {
      border-color: #93a4aa; }


/*# sourceMappingURL=app.css.map*/