@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,300italic,300,700,700italic");
.container {
  max-width: 960px;
  margin: 0 auto; }
  @media only screen and (max-width: 768px) {
    .container {
      width: 95%; } }

.container-fluid {
  width: 95%;
  margin: 0 auto; }

#csstyle .\+center {
  text-align: center; }

#csstyle .\+left {
  text-align: left; }

#csstyle .\+right {
  text-align: right; }

#csstyle .\+justify {
  text-align: justify; }

#csstyle .\+uppercase {
  text-transform: uppercase; }

#csstyle .\+capitalize {
  text-transform: capitalize; }

#csstyle .\+spacer {
  margin-top: 2em; }

#csstyle .\+spacer-small {
  margin-top: 1em; }

#csstyle .\+spacer-medium {
  margin-top: 3em; }

#csstyle .\+spacer-large {
  margin-top: 10em; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  color: #364347;
  font-family: "Lato", sans-serif;
  font-weight: 400; }

body.page-error {
  background-color: #FDEBE9; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 24px;
  font-style: italic; }

h4 {
  font-size: 18px; }

p {
  font-size: 18px;
  line-height: 1.8em;
  font-weight: 300;
  text-align: justify; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover, a:focus {
    color: inherit;
    text-decoration: none; }

textarea {
  height: 420px;
  overflow-x: hidden; }

#wrapper {
  padding-left: 0; }

#sidebar-wrapper {
  background-color: #FDEBE9;
  position: fixed;
  width: 30%;
  height: 100%;
  float: left; }
  @media only screen and (max-width: 768px) {
    #sidebar-wrapper {
      display: none; } }

#page-wrapper {
  width: 70%;
  float: right; }
  @media only screen and (max-width: 768px) {
    #page-wrapper {
      width: 100%;
      float: none; } }

.navbar {
  height: 5em;
  line-height: 5em;
  background: #fff;
  border-bottom: 1px solid #E6E6E6; }
  .navbar a {
    margin-right: 0.8em; }

.header {
  background-color: #FDEBE9;
  height: 25em;
  padding-top: 2em;
  padding-bottom: 2em; }

.button {
  border: 0;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  color: white;
  background-color: #CB5065;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  outline: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  box-shadow: inset 0 0 0 0 #b24558;
  -webkit-transition: box-shadow ease 0.5s;
  -moz-transition: box-shadow ease 0.5s;
  -ms-transition: box-shadow ease 0.5s;
  -o-transition: box-shadow ease 0.5s;
  transition: box-shadow ease 0.5s; }
  .button:hover, .button:focus {
    color: white;
    box-shadow: inset 0 -100px 0 0 #b24558; }
  .button:active {
    color: #fff;
    box-shadow: inset 0 0 0 0 #b24558; }
  @media only screen and (max-width: 768px) {
    .button {
      display: block;
      width: 100%;
      text-align: center; } }
  .button.\--small {
    padding: 10px;
    margin-top: 5px;
    font-size: 15px; }
  .button.\--block {
    width: 100%; }
  .button.\--with-icon i {
    padding-right: 0.4em;
    display: inline-block; }
  .button.\--stroke {
    background: transparent;
    border: 2px solid #E6E6E6;
    color: #364347;
    text-transform: uppercase;
    margin-right: 5px;
    margin-left: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    box-shadow: none !important;
    -webkit-transition: box-shadow ease 0.5s;
    -moz-transition: box-shadow ease 0.5s;
    -ms-transition: box-shadow ease 0.5s;
    -o-transition: box-shadow ease 0.5s;
    transition: box-shadow ease 0.5s; }
    .button.\--stroke:hover, .button.\--stroke:focus, .button.\--stroke:active {
      color: #364347; }
    .button.\--stroke.\--active {
      border-color: #364347; }

.picture.\--logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3em;
  max-width: 70%; }
.picture.\--circle {
  display: block;
  width: 120px;
  height: 120px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;
  -webkit-border-radius: 60px;
  -khtml-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  background-size: cover; }
.picture.\--circle-big {
  display: block;
  width: 220px;
  height: 220px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;
  -webkit-border-radius: 110px;
  -khtml-border-radius: 110px;
  -moz-border-radius: 110px;
  -ms-border-radius: 110px;
  -o-border-radius: 110px;
  border-radius: 110px;
  background-size: cover; }
.picture.\--logo-text {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  margin-right: auto;
  margin-left: auto; }
  @media only screen and (max-width: 768px) {
    .picture.\--logo-text {
      max-width: 95%; } }
.picture.\--medal {
  display: block;
  width: 80px;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em; }

.list {
  padding: 0;
  padding-top: 2em; }
  .list li {
    border-top: 1px solid #E6E6E6;
    width: 100%;
    display: block;
    padding-top: 2em;
    padding-bottom: 2em; }
    .list li:last-child {
      border-bottom: 0; }
  .list__name {
    color: #CB5065;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700; }
  .list__old {
    font-style: normal;
    color: #CB5065;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700; }

.sidebar__button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border: 2px solid #CB5065;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3em;
  color: white;
  box-shadow: inset 0 -100px 0 0 #CB5065;
  -webkit-transition: box-shadow ease 0.5s;
  -moz-transition: box-shadow ease 0.5s;
  -ms-transition: box-shadow ease 0.5s;
  -o-transition: box-shadow ease 0.5s;
  transition: box-shadow ease 0.5s; }
  .sidebar__button:hover, .sidebar__button:focus {
    color: #CB5065;
    box-shadow: inset 0 0 0 0 #CB5065; }
.sidebar__link {
  text-transform: capitalize;
  color: #CB5065; }
  .sidebar__link:hover, .sidebar__link:focus {
    color: #CB5065; }
.sidebar__delimiter {
  color: #CB5065; }

.footer {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  border-top: 1px dashed #d6e1e5; }
  .footer a {
    color: #CB5065; }
  .footer img {
    display: block;
    width: 50px;
    margin-right: auto;
    margin-left: auto; }

.upload {
  border: 3px solid #FDEBE9;
  color: #F193A3;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em; }
  .upload__icon {
    font-size: 55px; }
  .upload__feedback {
    font-size: 28px;
    font-weight: 300; }

.form__entry label {
  color: #CB5065;
  display: block;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 10px; }
.form__entry input, .form__entry textarea {
  width: 100%;
  padding: 10px 15px;
  border: 2px solid #FDEBE9;
  outline: 0;
  color: #CB5065;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  .form__entry input:focus, .form__entry textarea:focus {
    border-color: #F193A3; }

.alert {
  padding: 10px 15px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  .alert p {
    line-height: 20px; }
  .alert.\--danger {
    background-color: #FDEBE9;
    color: #CB5065; }
    .alert.\--danger p:first-child {
      padding-bottom: 10px; }
  .alert.\--success {
    background-color: #d8f0ee;
    color: #28948c; }
  .alert.\--warning {
    background-color: #fef6e1;
    color: #f3bc65; }
  .alert.\--empty {
    padding: 0;
    border: 5px solid #E6E6E6;
    height: 8em;
    line-height: 8em;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 27px;
    color: #B2B2B2; }
  .alert.\--empty-home {
    color: inherit;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #CB5065;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-top: 3em;
    margin-bottom: 3em;
    border: 3px solid #FDEBE9; }

.breadcrumb {
  height: 4em;
  line-height: 4em;
  border-bottom: 1px solid #E6E6E6;
  font-weight: 300;
  background-color: #E6E6E6; }
  .breadcrumb i {
    font-size: 25px;
    color: #B2B2B2;
    display: inline-block;
    vertical-align: middle;
    padding-right: 7px; }
  .breadcrumb a, .breadcrumb span {
    color: #B2B2B2;
    text-transform: capitalize;
    vertical-align: middle; }
  .breadcrumb a:after {
    content: " /"; }
  .breadcrumb span {
    font-weight: 400; }
  .breadcrumb__container {
    padding-left: 15px; }

.pagination {
  list-style: none;
  padding: 0;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #FDEBE9;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  .pagination li:first-child {
    border-left: 0; }
  .pagination li:hover {
    background-color: #FDEBE9; }
  .pagination li {
    float: left;
    padding: 0;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-left: 1px solid #FDEBE9;
    color: #CB5065; }
    .pagination li.active {
      background-color: #CB5065;
      color: white; }
  .pagination span, .pagination a {
    width: 100%;
    height: 100%;
    font-size: 18px;
    display: inline-block; }

.subnav {
  background: #E6E6E6;
  height: 3em;
  line-height: 3em;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px; }

.label {
  background-color: #B2B2B2;
  padding: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  display: inline-block;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  .label.\--refused {
    background-color: #fedada;
    color: #cc0000; }
  .label.\--validated {
    background-color: #d8f0ee;
    color: #3eb5ac; }
  .label.\--standby {
    filter: alpha(opacity=20);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    -webkit-opacity: 0.2;
    -khtml-opacity: 0.2;
    -moz-opacity: 0.2;
    -ms-opacity: 0.2;
    -o-opacity: 0.2;
    opacity: 0.2; }

.title {
  font-weight: 300;
  text-align: center;
  font-size: 23px;
  border-bottom: 4px solid #FDEBE9;
  color: #CB5065;
  padding-bottom: 20px; }
  .title i {
    display: block;
    font-size: 60px;
    color: #CB5065; }
  .title.\--add {
    border: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 5px;
    border-top: 1px solid #E6E6E6;
    padding-top: 20px; }
  .title.\--heading {
    text-align: left;
    color: #CB5065;
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    border-bottom: 0; }

.icons.\--ads-show {
  font-size: 30px;
  color: #CB5065;
  margin-top: 10px; }

.log {
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 10px;
  padding-top: 10px; }
  .log.\--show_ad .log__description {
    filter: alpha(opacity=40);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    -webkit-opacity: 0.4;
    -khtml-opacity: 0.4;
    -moz-opacity: 0.4;
    -ms-opacity: 0.4;
    -o-opacity: 0.4;
    opacity: 0.4; }
  .log.\--show_ad .log__date {
    filter: alpha(opacity=40);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    -webkit-opacity: 0.4;
    -khtml-opacity: 0.4;
    -moz-opacity: 0.4;
    -ms-opacity: 0.4;
    -o-opacity: 0.4;
    opacity: 0.4; }
  .log.\--new_ad_mail .log__description {
    filter: alpha(opacity=40);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    -webkit-opacity: 0.4;
    -khtml-opacity: 0.4;
    -moz-opacity: 0.4;
    -ms-opacity: 0.4;
    -o-opacity: 0.4;
    opacity: 0.4; }
  .log.\--new_ad_mail .log__date {
    filter: alpha(opacity=40);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    -webkit-opacity: 0.4;
    -khtml-opacity: 0.4;
    -moz-opacity: 0.4;
    -ms-opacity: 0.4;
    -o-opacity: 0.4;
    opacity: 0.4; }

.alert {
  padding: 10px 15px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  .alert p {
    line-height: 20px; }
  .alert.\--danger {
    background-color: #FDEBE9;
    color: #CB5065; }
    .alert.\--danger p:first-child {
      padding-bottom: 10px; }
  .alert.\--success {
    background-color: #d8f0ee;
    color: #28948c; }
  .alert.\--warning {
    background-color: #fef6e1;
    color: #f3bc65; }
  .alert.\--empty {
    padding: 0;
    border: 5px solid #E6E6E6;
    height: 8em;
    line-height: 8em;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 27px;
    color: #B2B2B2; }
  .alert.\--empty-home {
    color: inherit;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #CB5065;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-top: 3em;
    margin-bottom: 3em;
    border: 3px solid #FDEBE9; }

.error {
  color: inherit; }
  .error img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 60%;
    margin-top: 1.5em; }
  .error p {
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-align: center;
    color: #CB5065; }

.card {
  text-align: center;
  margin-bottom: 3em;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  .card__thumbnail {
    display: inline-block;
    width: 180px;
    height: 180px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
    -webkit-border-radius: 90px;
    -khtml-border-radius: 90px;
    -moz-border-radius: 90px;
    -ms-border-radius: 90px;
    -o-border-radius: 90px;
    border-radius: 90px;
    background-size: cover;
    background-color: #E6E6E6; }

.menu {
  height: 3em;
  line-height: 3em;
  background-color: #FAF9FA;
  border-bottom: 1px solid #E6E6E6;
  text-align: right;
  color: #B2B2B2;
  padding-right: 1em; }
  .menu a {
    margin-right: 0.8em;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 16px; }
  .menu.\--mobile {
    text-align: left;
    padding-left: 2em; }

.intro h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #CB5065;
  text-align: center;
  margin-top: 1em; }
.intro img {
  display: block;
  margin: 0 auto;
  max-width: 100%; }
.intro p {
  margin-top: 0.6em;
  margin-bottom: 1.5em; }
.intro__facebook {
  text-align: center; }

.tooltipster-default {
  border-radius: 5px;
  border: 2px solid #364347;
  background: #364347;
  color: #fff; }
  .tooltipster-default .tooltipster-content {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
    overflow: hidden; }

.chosen-container {
  width: 100% !important;
  margin-top: 10px; }
  .chosen-container:focus {
    outline: 0; }
  .chosen-container .chosen-single {
    border: 2px solid #FDEBE9 !important;
    background: transparent !important;
    color: #CB5065;
    outline: 0 !important;
    font-size: 15px !important;
    height: auto !important;
    padding: 10px 15px !important;
    box-shadow: none !important; }
    .chosen-container .chosen-single b {
      margin-top: 0.7em !important; }
  .chosen-container .chosen-results {
    color: #CB5065 !important; }
  .chosen-container .chosen-drop {
    border: 2px solid #FDEBE9 !important;
    box-shadow: none; }
  .chosen-container li.highlighted {
    background: #CB5065 !important; }

.js-input-file {
  width: 0.1px !important;
  height: 0.1px !important;
  opacity: 0 !important;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.inputfile + label * {
  pointer-events: none; }

.js-input-file + label {
  display: inline-block;
  cursor: pointer;
  border: 3px solid #FDEBE9;
  color: #F193A3;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
  width: 100%;
  font-size: 28px;
  vertical-align: middle;
  font-family: "Lato", sans-serif;
  font-weight: 300; }
  .js-input-file + label i {
    font-size: 55px;
    display: block;
    vertical-align: middle; }
  .js-input-file + label img {
    display: block !important;
    margin-right: auto;
    margin-top: 0 !important;
    margin-left: auto; }


/*# sourceMappingURL=app.css.map*/