@include component(section)
  padding-top: 4em
  padding-bottom: 6em
  
  @include option(grey)
    background-color: $color-grey-light

  @include part(title)
    color: $color-shade-1
    +font-montserrat
    text-transform: capitalize
    text-align: center
    padding-bottom: 1.6em

  @include part(content)
    font-size: 18px
    font-weight: 300

    @include option(experiences)
      border-left: 2px solid $color-grey-light
      padding-left: 25px
      text-align: justify

      @include gridle_state(xs)
        padding-left: 0
        border: 0

  @include part(company)
    color: $color-shade-1
    font-style: normal
    font-size: 24px
    +font-montserrat

    @include gridle_state(xs)
      text-align: center

  @include part(role)
    font-style: normal
    font-size: 18px
    +font-montserrat(400)
    margin-top: 0.2em

    @include gridle_state(xs)
      text-align: center

  @include part(date)
    font-size: 17px
    font-style: normal
    color: $color-yellow-reverse
    margin-top: 1em
    margin-bottom: 2em

    @include gridle_state(xs)
      text-align: center

