@include component(section)
  padding-top: 4em
  padding-bottom: 6em
  
  @include option(grey)
    background-color: $color-grey-light

  @include part(title)
    color: $color-shade-1
    +font-montserrat
    text-transform: capitalize
    text-align: center
    padding-bottom: 1.6em

  @include part(content)
    font-size: 18px
    font-weight: 300

